<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="iphone-14-21">
      <div class="email-parent">
        <b class="email">email</b>
        <button class="ellipse-parent">
          <div class="frame-child"></div>
          <img
            class="ri-arrow-right-line-icon"
            alt=""
            src="./public/riarrowrightline.svg"
          />
        </button>
        <div class="frame-item"></div>
        <input class="fram-1" type="text" maxlength="{10}" minlength="{0}" />

        <div class="frame-inner"></div>
        <b class="password">password</b>
        <input
          class="fram-11"
          type="password"
          maxlength="{10}"
          minlength="{0}"
        />

        <b class="blind1">BLIND</b>
        <b class="sign-up">sign up</b>
        <b class="sign-up1">SIGN UP</b>
        <input class="fram-12" type="text" maxlength="{10}" minlength="{0}" />
      </div>
      <b class="phone-number">phone number</b>
    </div>
  </body>
</html>
