<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>BLIND</title>
    <meta name="description" content="-" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./signin.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />

    -
  </head>
  <body>
    <div class="iphone-14-1">
      <b class="blind2">BLIND</b>
      <div class="fram-1-parent">
        <input class="fram-13" type="text" maxlength="{10}" minlength="{0}" />

        <b class="name">NAME</b>
        <b class="password1">PASSWORD</b>
        <b class="or">OR</b>
        <b class="sign-up2">SIGN UP</b>
        <button class="ellipse-group">
          <div class="ellipse-div"></div>
          <img
            class="ri-arrow-right-line-icon1"
            alt=""
            src="./public/riarrowrightline.svg"
          />
        </button>
        <input class="fram-13" type="text" maxlength="{10}" minlength="{0}" />

        <div class="frame-div"></div>
        <input class="fram-15" type="text" maxlength="{10}" minlength="{0}" />
      </div>
      <input class="fram-16" type="password" maxlength="{10}" minlength="{0}" />
    </div>

    -
  </body>
</html>
