@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.blind2 {
  position: absolute;
  top: 60px;
  left: 38px;
  display: inline-block;
  width: 297px;
  height: 107px;
}
.fram-13 {
  border: 3px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 411px;
  left: 53px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 280px;
  height: 53px;
}
.fram-13:hover {
  background-color: var(--color-red);
  border: 3px solid var(--color-red);
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.name,
.password1 {
  position: absolute;
  top: 198px;
  left: 57px;
  display: inline-block;
  width: 278px;
  height: 37px;
}
.password1 {
  top: 339px;
  left: 53px;
  width: 282px;
  height: 41px;
}
.or,
.sign-up2 {
  position: absolute;
  top: 506px;
  left: 127px;
  font-size: var(--font-size-11xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 18px;
}
.sign-up2 {
  top: 568px;
  left: 42px;
  width: 187px;
  height: 31px;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 45px;
  height: 45px;
}
.ri-arrow-right-line-icon1 {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.ellipse-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 557px;
  left: 236px;
  width: 45px;
  height: 45px;
}
.ellipse-group:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.frame-div {
  position: absolute;
  top: 636px;
  left: 44px;
  width: 289px;
  height: 40px;
  overflow: hidden;
}
.fram-15,
.fram-15:hover {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.fram-15 {
  border: 3px solid var(--color-black);
  position: absolute;
  top: 261px;
  left: 53px;
  border-radius: var(--br-4xs);
  width: 280px;
  height: 53px;
}
.fram-15:hover {
  border: 3px solid var(--color-white);
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
}
.fram-15:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.fram-1-parent {
  position: absolute;
  top: 0;
  left: -2px;
  width: 390px;
  height: 844px;
  overflow: hidden;
  font-size: var(--font-size-26xl);
}
.fram-16 {
  border: 3px solid var(--color-black);
  position: absolute;
  top: 411px;
  left: 53px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  width: 280px;
  height: 53px;
}
.fram-16,
.fram-16:hover,
.iphone-14-1 {
  background-color: var(--color-white);
}
.fram-16:hover {
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
}
.fram-16:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.iphone-14-1 {
  position: relative;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
