@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.email {
  position: absolute;
  top: 346px;
  left: 50px;
  display: inline-block;
  width: 278px;
  height: 46px;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 45px;
  height: 45px;
}
.ri-arrow-right-line-icon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 656px;
  left: 244px;
  width: 45px;
  height: 45px;
}
.ellipse-parent:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.frame-item {
  position: absolute;
  top: 636px;
  left: 44px;
  width: 289px;
  height: 40px;
  overflow: hidden;
}
.fram-1,
.fram-1:hover {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.fram-1 {
  border: 3px solid var(--color-black);
  position: absolute;
  top: 266px;
  left: 42px;
  border-radius: var(--br-4xs);
  width: 280px;
  height: 53px;
}
.fram-1:hover {
  border: 3px solid var(--color-white);
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
}
.fram-1:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.frame-inner {
  position: relative;
  width: 100px;
  height: 100px;
}
.password {
  position: absolute;
  top: 476px;
  left: 50px;
  display: inline-block;
  width: 178px;
  height: 43px;
}
.fram-11,
.fram-11:hover {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.fram-11 {
  border: 3px solid var(--color-black);
  position: absolute;
  top: 534px;
  left: 42px;
  border-radius: var(--br-4xs);
  width: 280px;
  height: 53px;
}
.fram-11:hover {
  border: 3px solid var(--color-white);
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
}
.fram-11:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.blind1 {
  top: 53px;
  left: 52px;
  font-size: var(--font-size-61xl);
  width: 297px;
  height: 107px;
}
.blind1,
.sign-up,
.sign-up1 {
  position: absolute;
  display: inline-block;
}
.sign-up {
  top: 131px;
  left: 52px;
  color: #db0c0c;
  width: 176px;
  height: 30px;
}
.sign-up1 {
  top: 662px;
  left: 74px;
  width: 140px;
  height: 68px;
}
.fram-12,
.fram-12:hover {
  background-color: var(--color-white);
  box-sizing: border-box;
}
.fram-12 {
  border: 3px solid var(--color-black);
  position: absolute;
  top: 407px;
  left: 42px;
  border-radius: var(--br-4xs);
  width: 280px;
  height: 53px;
}
.fram-12:hover {
  border: 3px solid var(--color-white);
  box-shadow: 0 4px 4px rgba(53, 45, 45, 0.25);
}
.fram-12:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.email-parent {
  position: absolute;
  top: 0;
  left: -3px;
  width: 390px;
  height: 844px;
  overflow: hidden;
}
.phone-number {
  position: absolute;
  top: 203px;
  left: 48px;
  display: inline-block;
  width: 278px;
  height: 37px;
}
.iphone-14-21 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
